.u-center-text {
    text-align: center;
}

//Margin
.u-margin-bottom-big {
    margin-bottom: 7.5rem;
}
.u-margin-bottom-medium {
    margin-bottom: 3.5rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
